<h1>Remove <%= user.login %>?</h1>

<%= form_tag admin_user_path(user), method: 'DELETE' do | form | %>
  <fieldset>
    <legend>This cannot be undone</legend>
  </fieldset>
  <div class="form-actions">
    <input type="submit" value="Delete" class="btn btn-danger"/>
  </div>
<% end %>
